<main class="hero">
    <div class="hero__text">
        <h1>Discover Your Next Favorit Book</h1>
        <p>With Great Reads, you can search through millions of books and neatly organize and keep track of all your books using our collections or even creat your own.</p>
        <div class="hero__links">
            <a href="" class="hero__links--signUp" id="signUp">Signup Now</a>
            <a href="" class="hero__links--logIn" id="logIn">Login</a>
        </div>
    </div>
    <div class="hero__image">
        <img src="/Assets/hero.jpg" alt="library">
    </div>
    
</main>