<main class="hero">
    <div class="hero__text">
        <h1>Discover Your Next Favorit Book</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem optio delectus vitae dolore, ipsa vero officia nesciunt? Laudantium, temporibus explicabo.</p>
        <div class="hero__links">
            <a href="" class="hero__links--signUp">Signup Now</a>
            <a href="" class="hero__links--logIn">Login</a>
        </div>
    </div>
    <div class="hero__image">
        <img src="/Assets/hero.jpg" alt="library">
    </div>
    
</main>