<nav class="navBar">
    <div class="navBar__item--logo">
        <a href="/">
            <span>Great</span>
            <span>Reads</span>
        </a>
    </div>
    <form class="navBar__item--search" method="" action="" id="navSearchForm">
        <input type="text" placeholder="Search by Title or ISBN" name="searchFormInput" class="text-input" required>
        <button class="btn" id="search" type="submit">
            <ion-icon name="search-outline"></ion-icon>
        </button>
    </form>
    <div class="navBar__item--profile" id="navProfile">
        <button class="profile__theme btn" id="darkThemeToggle"></button>
        <% if (collectionInfo !== "") { %>
            <% if (collectionInfo.userInfo.imgUrl === "") { %>
                <a href="/profile" class="profile__image" >
                    <ion-icon class="icon" name="person-outline"></ion-icon>
                    <div id="userStatus" class="activeStatus"></div>
                </a>
            <% } else { %>
                <a href="/profile" class="profile__image" style="background-image: url(<%=collectionInfo.userInfo.imgUrl%>);background-size: cover; width: 4.6rem; height: 4.6rem;" >
                    <div id="userStatus" class="activeStatus"></div>
                </a>
            <% } %>
        <% } else{ %>
            <a class="profile__image notLogedInProf" >
                <ion-icon class="icon" name="person-outline"></ion-icon>
                <div id="userStatus"></div>
            </a>
        <% } %>
    </div>
</nav>
<div class="alert" id="alert">
    <div class="alert__icon">
        <ion-icon name="close-circle-outline"></ion-icon>
    </div>
    <div class="alert__text">You Are Not Logged In</div>
</div>
   
