<nav class="navBar">
    <div class="navBar__item--logo">
        <div>
            <span>Great</span>
            <span>Reads</span>
        </div>
    </div>
    <form class="navBar__item--search">
        <input type="text" placeholder="Search by Title or ISBN" name="search">
        <button class="btn" id="search">
            <ion-icon name="search-outline"></ion-icon>
        </button>
    </form>
    <div class="navBar__item--profile">
        <button class="profile__theme btn" id="darkThemeToggle"></button>
        <div class="profile__image">
            <ion-icon class="icon" name="person-outline"></ion-icon>
        </div>
        
    </div>
</nav>