<nav class="navBar">
    <div class="navBar__item--logo">
        <a href="/">
            <span>Great</span>
            <span>Reads</span>
        </a>
    </div>
    <form class="navBar__item--search" method="post" action="search">
        <input type="text" placeholder="Search by Title or ISBN" name="search" class="text-input">
        <button class="btn" id="search">
            <ion-icon name="search-outline"></ion-icon>
        </button>
    </form>
    <div class="navBar__item--profile">
        <button class="profile__theme btn" id="darkThemeToggle"></button>
        
        <a href="/profile" class="profile__image">
            <ion-icon class="icon" name="person-outline"></ion-icon>
            <div id="userStatus"></div>
        </a>
        
    </div>
</nav>