<nav class="nav">
    <a href="/" class="nav__item--logo">Logo</a href="/">
    <a href="/" class="nav__item">
        <ion-icon name="home-outline" class="nav__item--icon"></ion-icon>
        <span>Home</span>
    </a href="/">
    <a href="/" class="nav__item">
        <ion-icon name="star-outline"></ion-icon>
        <span>favorit</span>
    </a href="/">
    <a href="/" class="nav__item">
        <ion-icon name="bookmarks-outline"></ion-icon>
        <span>collections</span>
    </a href="/">
    <a href="/" class="nav__item--settings">
        <ion-icon name="settings-outline"></ion-icon>
        <span>settings</span>
    </a href="/">
</nav>