<nav class="nav">
    <a href="/" class="nav__item">
        <ion-icon name="home-outline" class="nav__item--icon"></ion-icon>
        <span>Home</span>
    </a>
    <% if (collectionInfo !== "") { %>
        <a href="/profile" class="nav__item">
            <ion-icon class="nav__item--icon" name="person-outline"></ion-icon>
            <span>Profile</span>
        </a>
        <a href="/collections" class="nav__item">
            <ion-icon name="bookmarks-outline" class="nav__item--icon"></ion-icon>
            <span>collections</span>
        </a>
    <% } else{ %>
        <a class="nav__item notLogedInProf">
            <ion-icon class="nav__item--icon" name="person-outline"></ion-icon>
            <span>Profile</span>
        </a>
        <a class="nav__item notLogedInProf">
            <ion-icon name="bookmarks-outline" class="nav__item--icon"></ion-icon>
            <span>collections</span>
        </a>
    <%}%>
    <a href="/" class="nav__item--settings">
        <ion-icon name="settings-outline" class="nav__item--icon"></ion-icon>
        <span>settings</span>
    </a>
    <a href="" class="nav__item--logout" id="logOutBtn">
        <% if (collectionInfo !=="" ) { %>
            <ion-icon class="nav__item--icon" name="log-out-outline"></ion-icon>
            <span>Log Out</span>
            <% } else {%>
            <ion-icon class="nav__item--icon" name="log-in-outline" style="transform: scale(1.2) ; padding-right: 1.2rem;"></ion-icon><span>Log In</span>
        <% } %>

    </a>
</nav>