<form action="" class="form" id="signUp">
    <!-- add a wellcomin msg -->
    <h3 class="form__title">Sign Up</h3>
    <div class="form__input">
        <label for="email" >Email</label>
        <input type="email" name="email" id="email" placeholder="Email">
    </div>
    <div class="form__input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="form__input">
        <label for="c-password">Comfirm Password</label>
        <input type="c-password" name="c-password" id="cPassword" placeholder="Comfirm Password">
    </div>
   <!-- make a chekbox for terms and conditions-->
   <!-- make a chekbox for staying logged in-->
    <button class=".sqr-btn">Signup Now</button>
    <a href="">Already have an account?</a>
</form>