<section id="si-form-section" class="hide-form">
    <button class="form__close btn">
        <ion-icon name="close-outline"></ion-icon>
    </button>
    <form class="form " id="signup">
        <h3 class="form__title">Wellcome to Great Reads</h3>
        <p class="form__discription">Sign Up using one of the follwing options:</p>
        <div class="form__options">
            <button class="form__options--goole btn">
                <ion-icon name="logo-google"></ion-icon>
            </button>
            <button class="form__options--facebook btn">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button class="form__options--Apple btn">
                <ion-icon name="logo-apple"></ion-icon>
            </button>
        </div>
        <div class="break">
            <span>
                <hr>
            </span>
            <span class="text">OR</span>
            <span>
                <hr>
            </span>
        </div>
        <div class="form__input">
            <div class="first-form">
                <div class="form__input--feild">
                    <label for="fname">First Name</label>
                    <input class="text-input" type="text" name="fname" placeholder="First Name">
                </div>
                <div class="form__input--feild">
                    <label for="lname">Last Name</label>
                    <input class="text-input" type="text" name="lname" placeholder="Last Name">
                </div>
            </div>
            <div class="form__input--feild">
                <label for="email">Email</label>
                <input class="text-input" type="email" name="email" placeholder="Email">
            </div>
            <div class="form__input--feild">
                <label for="password">Password</label>
                <input class="text-input" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form__buttons">
            <button id="signUpBtn" class="form__buttons--submit" type="submit">Signup Now</button>
            <a class="form__buttons--login btn" id="form-swich-signup" href="">Already have an account?</a>
        </div>
    </form>
</section>