.book {
    display: grid;
    grid-template-columns: 26rem 1fr;
    height: fit-content;
    column-gap: 4.8rem;
    padding: 4.8rem;
    &__cover {
        display: inline;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3.2rem;
        &--title {
            font-family: $pri-font;
            font-size: 4.4rem;
        }
        &--details {
            p{
                margin-bottom: 1.6rem;
            }
        }
        a{
            cursor: pointer;
        }
    }
}
.addToCols{
    position: absolute;
    top: 0%;
    left: 00%;
    width: 100%;
    height: 100vh;
    background: var(--background);
    padding: 4.6rem;
    display: grid;
    place-content: center;
    form{
        width: 60rem;
        height: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;
        .cols{
            display: grid;
            grid-template-columns: repeat(2 1fr);
            .col{
                cursor: pointer;
            }
        }
        .col-title{
            font-size: 2.4rem;
        }
        
    }
    h3{
        @extend .form__title;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        button{
            @extend .sqr-buttons;
        }
    }
}