.main {
    @extend .layout;
    .cols {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 3.2rem;
        column-gap: 2.4rem;
        row-gap: 2.4rem;
        height: fit-content;
        &__col {
            border: solid 1px var(--text);
            padding: 3.2rem;
            &--title {
                text-align: center;
                margin-bottom: 2.4rem;
            }
        }
    }
    .addNew {
        @extend .cols__col;
        transition: all 200ms ease-out;
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: scale(0.9);
        }
        &__Icon {
            @extend .profile__info--img;
            padding: 1.6rem;
            font-size: 2.4rem;
            .icon {
                font-size: 4rem;
            }
        }
        &__title {
            text-align: center;
        }
    }
}
body{
    position: relative;
}
.section{
    position: absolute;
    background: inherit;
    color: inherit;
    display: flex;
    align-items: center;
}
.form__input--feild{
    input{
        margin-top: 2rem;
        width :100%;
    }
}
.col__form {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
    width: 60rem;
    height: fit-content;
    margin: auto;
    &--title{
        @extend .form__title;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
    button {
        @extend .sqr-buttons;
    }
}

.hideColForm{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: -150%;
}
.showColForm{
opacity: 1;
visibility: visible;
pointer-events: visible;
//transform: translate(50%, 50%);
height: 100vh;
width: 100%;
top: 0;
left: 0;
}