.cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
    height: fit-content;
    margin-left: 20rem;
    padding: 12.8rem 8rem;
    padding-left: 0px;
    &__col {
        border: solid 1px var(--text);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3.2rem;
        cursor: pointer;
        position: relative;
        height: 20rem;
        /*&--options {
                position: absolute;
                right: 0%;
                top: 0%;
                margin: 1.6rem 1.6rem 0rem 0rem;
                //border-radius: 5000px;
                font-size: 2.4rem;
                opacity: 0;
            }
            &:hover .cols__col--options {
                opacity: 1;
            }
            &--delete{
                //@extend .cols__col--options;
                position: absolute;
                top: 28%;
                right: 0%;
                pointer-events: none;
                opacity: 0;
                margin: 1.6rem 1.6rem 0rem 0rem;
                font-size: 2.4rem;
            }*/
        &--title {
            font-size: 2.4rem;
            font-family: $pri-font;
            font-weight: 600;
            text-align: center;
            margin-bottom: 2.4rem;
        }
        &--books {
            justify-self: flex-end;
            .num {
                font-size: 5.2rem;
                font-weight: 600;
                font-family: $pri-font;
                margin-right: 0.8rem;
            }
        }
    }

    .addNew {
        @extend .cols__col;
        transition: all 200ms ease-out;
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: scale(0.9);
        }
        &__Icon {
            @extend .profile__info--img;
            padding: 1.2rem;
            .icon {
                font-size: 4rem;
            }
        }
        &__title {
            text-align: center;
            font-family: $pri-font;
        }
    }
}
body {
    position: relative;
}
.section {
    position: absolute;
    background: inherit;
    color: inherit;
    display: flex;
    align-items: center;
}
.form__input--feild {
    input {
        margin-top: 2rem;
        width: 100%;
    }
}
.col__form {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
    width: 60rem;
    height: fit-content;
    margin: auto;
    &--title {
        @extend .form__title;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
    button {
        @extend .sqr-buttons;
    }
}

.hideColForm {
    opacity: 0;
    width: 0px;
    visibility: hidden;
    pointer-events: none;
    top: -150%;
}
.showColForm {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
