.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 6.4rem;
    font-size: 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: var(--background);
    &__item {
        &--logo {
            font-family: $pri-font;
            font-size: 3rem;
            span {
                font-weight: 700;
                &:first-of-type {
                    font-weight: 400;
                }
            }
        }
        &--search {
            width: 35%;
            display: flex;
            justify-content: center;
            .text-input {
                border-right: none;
            }
        }
        &--profile {
            display: flex;
            column-gap: 2rem;
            button {
                @extend .btn;
                border-radius: 5000px;
                padding: 1.2rem;
            }
        }
    }
    .profile__image {
        cursor: pointer;
        border-radius: 5000px;
        background: var(--text);
        color: var(--background);
        transition: all 200ms ease-out;
        position: relative;
        &:hover {
            background: var(--hover1);
        }
        &:active {
            transform: scale(0.9);
        }
        .icon {
            padding: 1.2rem;
            display: grid;
            place-content: center;
        }
    }
}
.activeStatus {
    position: absolute;
    top: 68%;
    left: 68%;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 5000%;
    background: rgb(4, 255, 4);
}

.alert {
    background-color: var(--background);
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 2rem;
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border: solid 1px var(--text);
    
    &__icon {
        margin-right: 1.6rem;
        font-size: 3.2rem;
        display: grid;
        place-content: center;
    }
}
.show-alert {
    animation: peek 2000ms ease-out;
    @keyframes peek {
        0% {
            opacity: 0;
            visibility: visible;
            pointer-events: all;
            bottom: 0%;
        }
        50% {
            opacity: 1;
            bottom: 6%;
        }
        85% {
            opacity: 1;
            bottom: 6%;
        }
        100% {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            bottom: 0%;
        }
    }
}
