
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 6.4rem;
    font-size: 2rem;
    .navBar__item {
        &--logo {
            font-family: $pri-font;
            font-size: 3rem;
            span {
                font-weight: 700;
                &:first-of-type {
                    font-weight: 400;
                }
            }
        }
        &--search {
            width: 35%;
            display: flex;
            justify-content: center;
            .text-input{
                border-right: none;
            }
            /*input {
            
            }*/
        }
        &--profile {
            display: flex;
            column-gap: 2rem;
            button {
                @extend .btn;
                border-radius: 5000px;
                padding: 1.2rem;
            }
        }
    }
    .profile__image {
        cursor: pointer;
        border-radius: 5000px;
        background: var(--text);
        color: var(--background);
        transition: all 200ms ease-out;
        position: relative;
        &:hover {
            background: var(--hover1);
        }
        &:active {
            transform: scale(0.9);
        }
        .icon {
            padding: 1.2rem;
            display: grid;
            place-content: center;
        }
        .activeStatus{
            position: absolute;
            top: 68%;
            left: 68%;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 5000%;
            background: rgb(4, 255, 4);
        }
    }
}
