.nav {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.6rem;
    height: calc(100vh - 9.4rem);
    width: 200px;
    padding: 1.8rem 2rem 2.4rem;
    &__item {
        display: inline-block;
        display: flex;
        align-items: center;
        cursor: pointer;
        &--settings {
            @extend .nav__item;
            margin-top: auto;
        }
        &--icon{
            padding-right: 0.8rem;
        }
    }
}
.nav__item :hover{
    background: --lightGray;
}