.nav {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.6rem;
    height: calc(100vh - 8.2rem);
    width: 200px;
    padding: 1.8rem 2rem 2.4rem;
    position: fixed;
    background: var(--background);
    bottom: 0;
    &__item {
        display: inline-block;
        display: flex;
        align-items: center;
        cursor: pointer;
        //margin-top: auto;
        &--icon{
            padding-right: 0.8rem;
        }
    }
}
.nav__item :hover{
    background: --lightGray;
}