:root {
    --mainBlack: #{010101};
    --mainGray: #{f1f2f6};
    --mainBlue: #{0528e1};

    --lightBlue: #{3753e7};
    --lightBlack: #{1a1a1a};
    --lightGray: #{f5f6f9};

    --darkBlack: #{000000};
    --darkGray: #{c1c2c5};
    --darkBlue: #{0420b4};

    --text: black;
    --background: #f1f2f6;
}



