:root {
    --mainBlack: #1b1c1e;
    
    --mainGray: #b8babf;
    --mainBlue: #0528e1;

    --lightBlue: #3753e7;
    --lightBlack: #f7f7f7;
    --lightGray: #f7f7f7;

    --darkBlack: #000000;
    --darkGray: #c1c2c5;
    --darkBlue: #0420b4;

    

    --hover1: #d9dadd;
    --hover2:  #323335;

    --text: #f1f2f6;
    --background: #1b1c1e;
    --lightBlack: #323335;
    --lightGray: #f7f7f7;
    
}

$pri-font: "Lusitana", serif;
$sec-font: "Nunito", sans-serif;


