:root {
    --mainBlack: #1b1c1e;
    
    --mainGray: #b8babf;
    --mainBlue: #0528e1;

    --lightBlue: #3753e7;
    --lightBlack: #f7f7f7;
    --lightGray: #f7f7f7;

    --darkBlack: #000000;
    --darkGray: #c1c2c5;
    --darkBlue: #0420b4;

    --text: #1b1c1e;
    --background: #f7f7f7;
    --faded-dark-bg: #323335;
    --faded-light-bg: #b8babf;

    --hover1: #323335;
    --hover2: #d9dadd;
}

$pri-font: "Lusitana", serif;
$sec-font: "Nunito", sans-serif;


