* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: inherit;
    }
    ul, ol{
        list-style: none;
    }
}
html {
    font-size: 62.5%;
}

@import "variables";
@import "uttiles";
@import "navigation";
@import "hero";
@import "signup-form";
@import "search";
.darkTheme {
    --text: #f1f2f6;
    --background: #1b1c1e;
    --lightBlack: #323335;
    --lightGray: #f7f7f7;
    --hover1:  #d9dadd;
    --hover2: #323335;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: $sec-font;
    position: relative;
    font-size: 2rem;
}
.hide-form{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -150%;
    left: -50%;
    transform: translate(50%, 50%);
}
.show-form{
    position: absolute;
    top: 0%;
    left: 0%;
    //transform: translateX(50%);
    opacity: 1;
    visibility: visible;
}
.profile{
    display: grid;
    grid-template-columns: 20rem 1fr;
    &__info{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
    }
    &__form{
        padding: 3.2rem;
        grid-column: 2/3;
    }
    &__uploadImg{
        .icon{
            
        }
        color: var(--background);
        padding: 4.8rem;
        font-size: 3.6rem;
        //width: fit-content;
        display: grid;
        place-content: center;
        width: fit-content;
        height: fit-content;
        background: var(--text);
        border-radius: 5000px;
    }
}
.nav {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.6rem;
    height: calc(100vh - 9.4rem);
    width: 200px;
    padding: 1.8rem 2rem 2.4rem;
    &__item {
        display: inline-block;
        display: flex;
        align-items: center;
        
        &--settings {
            @extend .nav__item;
            margin-top: auto;
        }
        &--icon{
            padding-right: 0.8rem;
        }
    }
}
.nav__item :hover{
    background: --lightGray;
}
